html {
  font-family: sans-serif;
  body {
    margin: 0;
    .header-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      background-color: #fff;

      .logo-section {
        font-size: 24px;
        color: #9acb3f;
        font-weight: 700;
      }
      .header-links {
        padding-right: 20vw;
        ul {
          display: flex;
          list-style-type: none;
          gap: 32px;
          font-weight: 500;
          margin: 1rem 0;
          a {
            color: #9acb3f;
            text-decoration: none;
            li {
              .badge-icon {
                border-radius: 50%;
                background-color: #9acb3f;
                margin: 0;
                font-family: sans-serif;
                font-size: 13px;
                line-height: auto;
                border: none;
                font-weight: 600;
                width: 24px;
                height: 24px;
                margin-left: 12px;
              }
            }
          }
          a:hover {
            color: black;
          }
          a:active {
            color: black;
          }
        }
      }
      .profile-links {
        display: flex;
        align-items: center;
        gap: 32px;
        .user-profile {
          display: flex;
          align-items: center;
          gap: 24px;
          font-weight: 500;
        }
      }
    }
  }
}
