@media only screen and (max-width: 600px) {
  .homepage-section {
    .home-header-top {
      padding: 16px;

      .icon {
        padding: 8px 0;
        margin-right: 12px;
      }
      .details {
        min-width: 239px;
        .now {
          color: #abaead;
        }
        .address {
          color: #191f1e;
          line-height: 8px;
          font-weight: 600;
        }
      }
      .hamburger {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
      }
    }
    .home-header-bottom {
      padding: 0 16px 16px 16px;
      display: flex;
      gap: 24px;
      .delivery-btn {
        background-color: #9acb3f;
        border: none;
        border-radius: 16px;
        padding: 6px 10px;
        color: white;
        font-weight: 600;
      }
      .pickup-btn {
        border: none;
        background-color: transparent;
        font-weight: 700;
      }
    }
    .search-section {
      padding: 0 16px 16px 16px;
      display: flex;
      gap: 12px;
      width: 100%;
      .search {
        display: flex;
        background-color: #f6f7f5;
        border-radius: 8px;
        align-items: center;
        padding: 8px 0;
        width: 100%;

        input {
          font-weight: 600;
          border: none;
          background-color: #f6f7f5;
        }
      }
      .filter {
        background-color: #9acb3f;
        display: flex;
        padding: 0 10px;
        align-items: center;
        border-radius: 8px;
      }
    }

    .catalogcard-section,
    .newproducts-section,
    .our-shop-section {
      margin-top: 16px;
      padding: 16px;
      .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
      }
    }
  }
  #root
    > div
    > div
    > div.slick-slider.slick-initialized
    > ul
    > li.slick-active
    > button::before {
    font-size: 12px !important;
    color: #9acb3f !important;
  }

  #root
    > div
    > div
    > div.slick-slider.slick-initialized
    > ul
    > li
    > button::before {
    font-size: 12px !important;
    color: #b4b6bd;
  }
  #root
    > div
    > div
    > div.slick-slider.slick-initialized
    > ul
    > li.slick-active
    > button::before {
    font-size: 12px !important;
    color: #9acb3f !important;
  }

  #root
    > div
    > div
    > div.slick-slider.slick-initialized
    > ul
    > li
    > button::before {
    font-size: 12px !important;
    color: #b4b6bd;
  }
  #root > div > div > div.slick-slider.slick-initialized > ul > li.slick-active,
  li {
    margin: 0 !important;
  }
}
